@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 75px;
    border-bottom: greenyellow 5px solid;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    z-index: 1000;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vh;
}

.btnclass {
    background-color: #866f6f;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btnclass:hover {
    background-color: greenyellow;
    color: black;
    border: 2px solid #866f6f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('https://media.discordapp.net/attachments/1102694003104825528/1246220016005939250/Designer.png?ex=665b9855&is=665a46d5&hm=064f427f012e50a8ffcd4498a517b84bb1f096df971a7ee1e8b5fa67b1fac2f7&=&format=webp&quality=lossless&width=671&height=671');
    background-size: cover;
}

header {
    position: absolute;
}

.footer {
    position: absolute;
    background-color: #333333;
    border-top: greenyellow 5px solid;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    width: 100%;
    height: 75px;
    bottom: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    animation: fadeIn 6s ease-in-out infinite;
}

p {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: -50px;
}

/* create a pulse animation for the h1 class */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

